:root{
    --PRIMARY-BLUE: #0090FF;
    --SECONDARY-BLUE: #68AEF4;
    --TERTIARY-BLUE: #003362;

    --PRIMARY-BLACK: #121316;
    --SECONDARY-BLACK: #18191B;



    --PRIMARY-WHITE: #E8EAED;
    --SECONDARY-WHITE: #A1A1AA;
    --PRIMARY-FONT: 'Poppins'

}

header{
    width: 12%;
    height: 100%;
    background-color: var(--PRIMARY-BLACK);
    box-shadow: var(--SECONDARY-BLACK) 0px 0px 8px;

    position:fixed;
}

header img{
    width: 100%;
}


div#body{
    display:flex;
    flex-direction: column;
    height: auto;

    margin-left: 12%;
}

div#body section.body-row{
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* ========================================================== */
/* QUEM SOU EU  */
section#quem-sou-eu{
    display: flex;
    flex-direction: column;

    background: linear-gradient(145deg, var(--PRIMARY-BLACK) 0%,var(--PRIMARY-BLACK) 80% ,var(--SECONDARY-BLACK) 98%);
    
}
section#quem-sou-eu h1{
    padding: 2% 0 0 0;
    font-size: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 45vh;
 
}



section#quem-sou-eu #descrição .row{
    width: 100%;
    
    margin-top:8vh;

    color: var(--SECONDARY-WHITE);
    font-size: 1.55em;

    display: flex;
    align-items: center;
    justify-content: center;

}

section#quem-sou-eu #buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8vh auto;
    width: 40%;
}


section#quem-sou-eu #buttons a{
    width: min-content;
    padding: 10px 25px;
    border-radius: 12px;
}

section#quem-sou-eu #buttons a.primary{

    background-color: var(--PRIMARY-BLUE);

}


section#quem-sou-eu #buttons a.secondary{

    background-color: var(--SECONDARY-BLACK);

}

/* ====================================================== */
/* PROJETOS */
section#projetos{
    background: linear-gradient(45deg, var(--PRIMARY-BLACK) 0%,var(--PRIMARY-BLACK) 80% ,var(--SECONDARY-BLACK) 98%);
}
section#projetos h1{
    width: min-content;
    margin-bottom: 50px;

    font-size: 2rem
}
section#projetos .box{
    width: 95%;
    height: 98vh;
    background-color: var(--SECONDARY-BLACK);

    border-radius: 25px;

    margin:auto;

}

/* ====================================================== */
/* CARREIRA */

#timeline{
    width: 100%;
    min-height: 25vh;


    display: flex;
    align-items: center;
    
    flex-direction: column;

}


.line{
    
    
    width: 95%;
    height: 5px;

    background-color: var(--PRIMARY-WHITE);

}

.content{
    width: 95%;

    display: flex;

    justify-content: space-between;

}

.content .label{
    width: 20%;
    margin-top: 1rem;
    position: relative;

    font-size: 2rem;

    border-radius: 15px;

    padding:2% 1% 2% 1%;


    background-color: var(--SECONDARY-BLACK);
}

.content .label::before{
    content:'|';

    position: absolute;
    top:-1rem;
    left:10%;


    font-size: 1rem;
    font-weight: bolder;

    /* transform: rotate(-90deg); */
}
.content .label p{
    font-size: 1rem;
}




.time-description{
    height: 100%;
}
